body {
  background-color: #c7cbe4;
  font-family: "Futura PT", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  max-width: 900px;
}

.top {
  position: relative;
  margin-bottom: -12%;
  z-index: 1;
  pointer-events: none;
}

.header {
  width: 100%;
}

.content {
  position: relative;
  background: #ffc7a3;
  background: linear-gradient(90deg, #d57589 0%, #ffc7a3 100%);
  min-height: 200px;
  left: 1.6%;
  width: 91.8%;
  border-radius: min(60px, 6vw);
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 0;
  box-sizing: border-box;
  box-shadow: -5px 8px 40px rgba(0, 0, 0, 0.5);
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ee0055 0%, #4b0032 100%);
  transform: translate(-10%, 10%);
  mix-blend-mode: color-burn;
  opacity: 0.5;
  filter: blur(40px);
  z-index: -1;
}

.info {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 2%;
}

h2 {
  opacity: 0.9;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 50%;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

nav a:hover {
  text-decoration: underline;
}

button {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(180deg, #ea585f 0%, #f96b7b 100%);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-out;
}

button:hover {
  transform: scale(1.1);
}

.grid {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: min(3vw, 30px);
}

.item-holder {
  position: relative;
  width: 100%;
}

.item-holder::before,
.item-holder::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-holder::after {
  transform-origin: top left;
  transform: translate(13px) rotate(45deg);
  background: linear-gradient(
    180deg,
    rgba(17, 59, 91, 1) 0%,
    rgba(17, 59, 91, 0.4) 30%,
    rgba(17, 59, 91, 0) 100%
  );
  mix-blend-mode: multiply;
  opacity: 0.2;
  filter: blur(3px);
}

.item-holder::before {
  transform: translate(-10%, 10%);
  background: black;
  mix-blend-mode: overlay;
  opacity: 0.5;
  filter: blur(20px);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: blue;
  width: 100%;
  height: 100%;
  border-radius: 20px 5px 15px 15px;
  z-index: 1;
}

.item img {
  width: 100%;
  flex: 1;
  object-fit: contain;
}

.item-label {
  font-size: 0.7rem;
  padding: 20px 2em;
  padding-top: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

.item-holder:nth-child(1) .item {
  background: linear-gradient(90deg, #ecd6d8 0%, #f9e2d2 100%);
}

.item-holder:nth-child(2) .item,
.item-holder:nth-child(7) .item {
  background: linear-gradient(90deg, #bf92f1 0%, #e4b3fa 100%);
}

.item-holder:nth-child(3) .item {
  background: linear-gradient(90deg, #69e7b7 0%, #9fffd6 100%);
}

.item-holder:nth-child(4) .item,
.item-holder:nth-child(8) .item {
  background: linear-gradient(90deg, #febea7 0%, #fdf5d2 100%);
}

.item-holder:nth-child(5) .item {
  background: linear-gradient(90deg, #fd556b 0%, #ff8e80 100%);
}

.item-holder:nth-child(6) .item {
  background: linear-gradient(90deg, #f89e27 0%, #ffd054 100%);
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
